altgraph==0.17.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.2
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pytest==8.0.0
requests==2.31.0
tomli==2.0.1
urllib3==2.2.0
